:root {
    --common-padding: 1em;
    --read-color: #6fba6f;
    --not-read-color: #BB6464;
    --main-color: #65647C;
    --background-color: #FAF7F0;
    --border-color: #D1D1D1;
    --primary-font: 'Vollkorn', serif;
    --secondary-font: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 1000px;
}

.header {
    display: flex;
    align-items: center;
    color: #20252d;
    font-family: var(--secondary-font);
    width: 100%;
    color: var(--main-color);
}

.add-book {
    margin-left: auto;
    height: fit-content;
    background-color: var(--read-color);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 2em;
    width: 100%;
    font-family: var(--primary-font);
}

table {
    border-collapse: collapse;
    font-size: 1rem;
}

td, th {
    padding: 1em 1.5em;
    text-align: left;
    width: 8em;
    color: var(--main-color);
}

tr {
    border-bottom: 1px solid var(--border-color);
}

td button {
    font-size: 0.8em;
    padding: 0.5em 1em;
}

.settings > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.read .edit {
    background-color: var(--read-color);
}

.not-read .edit {
    background-color: var(--not-read-color);
}

.delete {
    background-color: inherit;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    width: 250px;
    padding: 1rem;
    min-height: 300px;
    background-color: var(--background-color);
    position: absolute;
    top: 2em;
    border: 3px solid var(--main-color);
    border-radius: 5px;
    z-index: 2;
    color: var(--main-color);
}

form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

form div:not(.input-check) {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-size: 0.9em;
    font-weight: 600;
}

.input-check {
    display: flex;
    align-items: center;
    gap: 5px;
}

input[type="text"],
input[type="number"] {
    border: 1px solid var(--border-color);
    border-radius: 6px;
    height: 25px;
    width: 200px;
    background-color: #fffefa;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border: 1px solid var(--main-color);
    outline: none;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border: 1px solid var(--border-color);
    border-radius: 0.15em;
}

.btn-submit,
.btn-save,
.add-book {
    padding: 0.8em 1.4em;
    background-color: var(--main-color);
}

.btn-submit:hover,
.btn-save:hover,
.add-book:hover {
    background-color: #413746;
    transition: 0.3s;
}

.btn-submit:active,
.btn-save:active,
.add-book:active {
    background-color: var(--main-color);
}

.btn-close {
    align-self: flex-end;
    padding: 0.3rem 0.6rem;
    background-color: inherit;
}

.btn-close, 
.delete {
    color: var(--main-color);
    font-family: sans-serif;
}

button {
    cursor: pointer;
    border: none;
    color: var(--background-color);
    border-radius: 5px;
    text-align: center;
    font-size: 0.9em;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 600;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden, .hidden > * {
    display: none;
}

.footer {
    padding: var(--common-padding);
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    color: var(--main-color);
}

img {
    height: 17px;
    width: auto;
    filter: invert(42%) sepia(8%) saturate(932%) hue-rotate(203deg) brightness(91%) contrast(92%);
}