:root {
    --common-padding: 1em;
}

body {
    margin: 0;
    padding: 0;
    background-color: #20252d;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    padding: var(--common-padding) 2em;
    color: white;
}

.add-book {
    margin-left: auto;
    padding: var(--common-padding);
    height: fit-content;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222;
    position: relative;
    margin-top: 2em;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    gap: 3em;
    height: fit-content;
    width: 80%;
}

.cards > div {
    height: 300px;
    width: 250px;
    background-color: white;
    color: black;
    border-radius: 5px;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 250px;
    padding: 1rem;
    min-height: 300px;
    background-color: #eef0f2;
    position: absolute;
    top: 5%;
    border: 3px solid #00bfaa;
    border-radius: 10px;
    z-index: 2;
}

form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

form div:not(.input-check) {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button {
    cursor: pointer;
    border: none;
    font-weight: 600;
    padding: 0.8rem 1.4rem;
    background-color: #00bfaa;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.btn-close {
    width: fit-content;
    align-self: flex-end;
    padding: 0.3rem 0.6rem;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}

.footer {
    padding: var(--common-padding);
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

img {
    height: 17px;
    width: auto;
}

ul {
    list-style: none;
}